*{
    font-family: 'Marvel', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
    
}

body{
    font-family: marvel;
    background-color: #c3d8af;
    width: 100%;
    height: 100hv;
}

/* The LANDING PAGE STYLE*/

.main-nav{
    float: right;
    list-style: none;
    margin-top: 12px;
    font-size: 30px;
    font-weight: bold;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a:hover{
    border: 1px solid rgb(207, 252, 250);
}

.main-nav li a{ 
    color: rgb(207, 252, 250);
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Marvel", "sans-serif";
    font-size: 20px;
}


header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.main-quote{
    position: absolute;
    width:auto;
    height: auto;
    margin-left: 115px;
}

h1{
    color: rgb(207, 252, 250);
    text-transform:uppercase;
    font-size: 50px;
    text-align: left;
    margin-top:340px;
    font-family: 'Marvel', serif;
}


.button{
    margin-top: 5px;
    margin-left: 62px;
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: rgb(207, 252, 250);
    text-transform:uppercase;
    font-size: 20px;
    text-align: center;
    margin-top:350px;;
    text-decoration: none;
    /*margin-right: 5px;*/
    text-transform: uppercase;
    background-color: black;
    font-family: "Marvel", "sans-serif";
    margin-left: 5px;
}

.main-para{
    color: rgb(207, 252, 250);
    font-size: 25px;
    text-align: left;
    margin-left: 30px;

}

.logo{
    display: inline-block;
    color: rgb(207, 252, 250);
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Marvel", "sans-serif";
    font-size: 25px;
    margin-top: 12px;
}

/* About-me Style */
.container{
    width: 80%;
    margin:auto;
    background-color: #c3d8af;
    height: 100%;
    margin-top: 100px;
}

.about-me{
    padding:40px;
    padding-top: 0px;
}

.about-me .about-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 700px;
    
}

.about-me .about-container .about-img{
    width: 370px;
  
}

.about-me .about-container .details-about-me{
    margin-top: 20px;
    width:50%;
    font-size: 20px;
    line-height: 1.8;
    text-align: justify;
    margin-left: 10px;
}

button{
    width: 150px;
    height: 40px;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    font-weight: bold;
    margin:30px 0px;
    color: rgb(207, 252, 250);

}

#about-img{
    height: 200px;
    width: 600px;
}

/* MY SKILL STYLE*/
  
.skill-section{
    padding: 60px 0;
    margin-bottom: 400px;
    margin-top: 0px;
  }
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
    margin-bottom: 100px;
  }
  .skill-title{
    text-align: center;
    color: rgb(5, 5, 5);
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 100px;
    margin-top: 40px;
  }
  .border{
    width: 160px;
    height: 2px;
    background: #070f11;
    margin: 40px auto;
  }
  .skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: rgb(12, 11, 11);
    cursor: pointer;
  }
  
  .skill-icon{
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 3px solid #0b0c0c;
    color: #0a0e0f;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.5s linear;
  }
  .skill-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  .skill-box:hover .skill-icon{
    background: #070808;
    color: #000000;
  }
  .skill-title{
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .skill-description{
    font-size: 20px;
  }

  /* The Contact Section Style */
  .contact-container{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.contact-container:after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);

}

.left{
    height: 100%;
    background: url(https://cdn.stocksnap.io/img-thumbs/280h/GQVQESD35N.jpg) no-repeat center;
    background-size: cover;
}

.right{
    padding: 25px 40px;
}

.h2-contact{
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

.h2-contact:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 4px;
    width: 50px;
    border-radius: 2px;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom:22px;
    transition:.3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


.btn-contact{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    border: none;
    color:#fff;
}


.btn-contact:hover{
    background-color: #164229;
}

/* The Footer Section */
.copyright {
    text-align: center;
    background-color: rgb(16, 20, 16);
    color: white;
    padding: 15px;
    font-weight: bold;
    margin: 0 auto;
  }

/* Media Query*/

